@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

main {
    font-family: 'Roboto', 'sans-serif';
}

.teste {
    display: inline-block;
    /* align-items: bottom; */
}


.call-to-action {
    margin-top: 6%;
    background-color: #02568E;
    text-align: center;
}